* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: "Lora", "Didot", "Garamond", serif;

	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.list-inline {
	list-style: none;
	padding: 0;
}
.list-inline li {
	display: inline-block;
}
.list-inline li:before {
	content: "\2022";
	padding: 0 0.25rem;
}
.list-inline li:first-child:before {
	content: none;
}

main {
	flex-grow: 1;

	margin: 0 auto;
	padding: 2rem 0.5rem;

	width: 100%;
	max-width: 50rem;
}

footer {
	margin: 0 auto;
	padding: 0.5rem 1.5rem;

	width: 100%;
	max-width: 50rem;

	font-size: 0.75em;
	opacity: 0.5;
	text-align: right;
}

footer a {
	color: inherit;
}

datetime-zone {
	margin: 1rem;
	padding: 1rem;

	background: rgba(128, 128, 128, 0.25);
	border-radius: 0.5rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

datetime-zoneinfo {
	flex-grow: 1;

	padding: 0.5rem;
	width: 18rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

datetime-zonename {
	display: block;

	font-weight: bold;
}
datetime-zoneoffset {
	display: block;
}

datetime-datetime {
	flex-grow: 1;

	width: 22rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

datetime-date,
datetime-time {
	padding: 0.5rem;

	font-size: 1em;
	text-align: center;
}
datetime-date {
	width: 11em;
}
datetime-time {
	font-size: 1.5em;
	width: 7em;
}

/*
datetime-date {
	width: 10rem;
}
datetime-time {
	width: 5rem;
}
*/

@media (max-width: 28rem) {
	datetime-date,
	datetime-time {
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		background: #000;
		color: #fff;
	}
}

