<footer>
	<ul class="list-inline">
		<li><a href="https://serverwentdown.github.io/datetime.link/">About datetime.link</a></li>{{/*
		*/}}<li><a href="https://github.com/serverwentdown/datetime.link/issues/new">Report bug</a></li>{{/*
		*/}}<li>{{/*
			*/}}<span class="icon theme-toggle-system">{{template "icon_solid_adjust.svg"}}</span>{{/*
			*/}}<span class="icon theme-toggle-dark">{{template "icon_solid_moon.svg"}}</span>{{/*
			*/}}<span class="icon theme-toggle-light">{{template "icon_solid_sun.svg"}}</span>{{/*
			*/}}&nbsp;<a href="#" onclick="toggleTheme(); return false">{{/*
				*/}}<span class="theme-toggle-name theme-toggle-system">System theme</span>{{/*
				*/}}<span class="theme-toggle-name theme-toggle-dark">Dark theme</span>{{/*
				*/}}<span class="theme-toggle-name theme-toggle-light">Light theme</span>{{/*
				*/}}</a>{{/*
		*/}}</li>
	</ul>
</footer>
