<footer>
	<ul class="list-inline">
		<li><a href="https://serverwentdown.github.io/datetime.link/" target="_blank">About datetime.link</a></li>{{/*
		*/}}<li><a href="https://github.com/serverwentdown/datetime.link/issues/new" target="_blank">Found a bug?</a></li>{{/*
		*/}}<li onclick="toggleTheme()">{{/*
			*/}}<span class="icon theme-toggle-system">{{template "icon_solid_adjust.svg"}}</span><span class="theme-toggle-name theme-toggle-system">&nbsp;System theme</span>{{/*
			*/}}<span class="icon theme-toggle-dark">{{template "icon_solid_moon.svg"}}</span><span class="theme-toggle-name theme-toggle-dark">&nbsp;Dark theme</span>{{/*
			*/}}<span class="icon theme-toggle-light">{{template "icon_solid_sun.svg"}}</span><span class="theme-toggle-name theme-toggle-light">&nbsp;Light theme</span>{{/*
		*/}}</li>
	</ul>
</footer>
