<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>datetime.link</title>
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<script src="/js/theme.js"></script>
	<main id="app">
		<d-zone>
			<d-zoneinfo>
				<d-zonename>India Standard Time</d-zonename>
				<d-zoneoffset>+5:30</d-zoneoffset>
				<d-date date="2020-06-02">2020-06-02</d-date>
			</d-zoneinfo>
			<d-zonefigure>
				<d-time time="14:00">14:00</d-time>
			</d-zonefigure>
		</d-zone>
		<d-zone>
			<d-zoneinfo>
				<d-zonename>Singapore Time</d-zonename>
				<d-zoneoffset>+8:00</d-zoneoffset>
				<d-date date="2020-06-02">2020-06-02</d-date>
			</d-zoneinfo>
			<d-zonefigure>
				<d-time time="16:30">16:30</d-time>
			</d-zonefigure>
		</d-zone>
		<d-zone>
			<d-zoneinfo>
				<d-zonename>New York, USA</d-zonename>
				<d-zoneoffset>-4:00</d-zoneoffset>
				<d-date date="2020-06-02">2020-06-02</d-date>
			</d-zoneinfo>
			<d-zonefigure>
				<d-time time="04:30">04:30</d-time>
			</d-zonefigure>
		</d-zone>
	</main>

	<footer>
		<ul class="list-inline">
			<li><a href="https://github.com/serverwentdown/datetime.link" target="_blank">About datetime.link</a></li><!--
			--><li><a href="https://github.com/serverwentdown/datetime.link/issues/new" target="_blank">Found a bug?</a></li><!--
			--><li onclick="toggleTheme()"><!--
				--><span class="icon theme-toggle-system">{{template "solid_adjust.svg"}}</span><span class="theme-toggle-name theme-toggle-system">&nbsp;System theme</span><!--
				--><span class="icon theme-toggle-dark">{{template "solid_moon.svg"}}</span><span class="theme-toggle-name theme-toggle-dark">&nbsp;Dark theme</span><!--
				--><span class="icon theme-toggle-light">{{template "solid_sun.svg"}}</span><span class="theme-toggle-name theme-toggle-light">&nbsp;Light theme</span><!--
			--></li>
		</ul>
	</footer>

	<!-- Work in progress...
	<script src="/js/third-party/luxon.min.js"></script>
	<script src="/js/interactive.js" async></script>
	-->
</body>
</html>
